parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Factories\\GroupBookingFactory\:\:create\(\) should return App\\Models\\Booking but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Factories/GroupBookingFactory.php

		-
			message: '#^Method App\\Factories\\OneToOneBookingFactory\:\:create\(\) should return App\\Models\\Booking but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Factories/OneToOneBookingFactory.php

		-
			message: '#^Method App\\Factories\\RecurringBookingFactory\:\:create\(\) should return App\\Models\\Booking but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Factories/RecurringBookingFactory.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:duration\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Booking.php

		-
			message: '#^Parameter \#1 \$minutes of class App\\ValueObjects\\SlotDuration constructor expects int, float given\.$#'
			identifier: argument.type
			count: 1
			path: app/ValueObjects/SlotDuration.php
